html,
body {
  background-color: #fff;
  font-size: 20px;
  font-family: sans-serif;
}
.borderbox {
  width: 100%;
  box-sizing: border-box;
}
.flex_container_center {
  display: flex;
  flex-flow: row;
  align-content: center;
}
.fix_top {
  position: fixed;
  top: 0px;
}
.fix_bottom {
  position: fixed;
  bottom: 0px;
}
.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.left {
  float: left;
}
.right {
  float: right;
}
.onelinehidden {
  overflow: hidden;
  /*溢出隐藏*/
  text-overflow: ellipsis;
  /*以省略号...显示*/
  white-space: nowrap;
  /*强制不换行*/
}
.container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.75rem;
}
