html,body{
	background-color: #eff0f4;
	font-size: 20px;
	font-family:sans-serif;
	padding-top:1.75rem;
}
/*header*/
header{
	position: fixed;
	top: 0px;
	background-color: #5fc0cd;
	padding: 1rem 0.75rem;
	width: 100%;
	box-sizing: border-box;
	font-size: 18px;
	color: #fff;
	z-index:1;
}
header p:first-child{
	float: left;
	display: block;
	width: 11px;
	height: 19px;
	background-image: url("../img/whiteback.png");
	-webkit-background-size: cover;
	background-size: cover;

}
header p:last-child{
	text-align: center;
	vertical-align: center;
}
header a:visited { 
	color:#fff;
	text-decoration:none; 
}
/*footer*/
footer{
	display: flex;
	flex-flow: row;
	justify-content:space-around;
	align-content:center; 
	position: fixed;
	bottom: 0px;
	background-color: #fff;
	height: 3.15rem;
	width: 100%;
	padding:0 0.75rem 0 0.75rem;	
	box-sizing: border-box;
}
footer .contact{
	height:2.25rem;
	width: 45%;
	border-radius: 6px;
	align-self: center;
	text-align: center;
	font-size: 18px;
	border:2px solid #5fc0cd;	
}
footer .message{
	background-color:#fff;
	color: #5fc0cd;
}
footer .call{
	background-color:#5fc0cd;	
	color: #fff;	
}
/*护工头像*/

.introduce{
	width: 100%;
	background: url("../img/banner.jpg") no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}
.introduce .mask{
	width: 100%;
	height:167px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.2);
	padding: 1.95rem 0.75rem;
}
.userimg{
	float: left;
	width: 4.25rem;
	height: 4.25rem;
}
.userimg img{
	width: 100%;
}
.userinfo{
	height: 2rem;
	padding: 1rem 0 1.25rem;
	vertical-align: center;
	margin-left:5.2rem;
	color: #fff;
}
.userinfo p:first-child{
	font-size: 18px;
	line-height:18px;
	margin-bottom: 10px;
}
.userinfo p:last-child{
	font-size: 12px;
	line-height:12px;	
}
.userinfo p span{
	font-size: 14px;
	line-height:14px;	
}
.userinfo .location{
	display: inline-block;
	width: 9px;
	height: 12px;
	background:url("../img/position.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin-right: 10px;
}
/*专业技能*/
.detail{
	background-color: #fff;
	color: #000;
}
.detail .tab{
	padding:1.05rem 0px 1.05rem 0.75rem;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
	line-height: 16px;
	vertical-align: center;		
}
.tab:before{
	content: " ";
	height: 0.625rem;
	width: 0.75rem;
	display:inline-block;
	border-left: 2px solid #5fc0cd;
}
.detail li{
	position: relative;	
	padding: 0.75rem;
	margin-left: 0.75rem;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
}
.detail .left1{
	display: inline-block;
	margin-right:0.75rem;
	border:none;
}
.detail .star{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 10px;
	background: url("../img/redstar.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.detail .left{
	position: absolute;
	top: 50%;
	transform:translateY(-50%); 
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);		
	color: #b3b3b3;
	padding-right:0.75rem;
	border-right: 2px solid #b3b3b3;
}
.detail .right{
	margin-left: 4.75rem;
	line-height: 0.9rem;
}

.detail .red{
	color: #e26163;
}
.detail ul{
	padding-bottom: 5rem;
}