body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul,
li {
  list-style: none;
}
img {
  border: none;
  display: block;
}
a {
  text-decoration: none;
  display: block;
}
a:hover {
  text-decoration: none;
}
*:focus {
  outline: none;
}
.clearfloat {
  zoom: 1;
}
.clearfloat:after {
  display: block;
  clear: both;
  content: " ";
  visibility: hidden;
  height: 0;
}
html,
body {
  font-size: 20px;
  font-family: sans-serif;
}
@media screen and (min-width: 768px) {
  html,
  body {
    font-size: 40px;
  }
}
header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 3;
  height: 2.5rem;
  padding: 0 10px;
  background: #29bde0;
}
header > span {
  align-self: center;
  font-size: 1rem;
  color: #fff;
}
header > .close,
header > .back {
  font-size: 1.5rem;
  font-weight: bolder;
}
header > .help {
  background: url(../img/help.png) no-repeat;
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  vertical-align: middle;
  background-size: 100%;
}
@media screen and (min-width: 768px) {
  header {
    width: 768px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.fix-footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #29bde0;
}
@media screen and (min-width: 768px) {
  .fix-footer {
    width: 768px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.goldbtn {
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  font-size: 1rem;
  color: #fff;
  background: #fab344;
  border: none;
  outline: none;
}
.voteitem {
  float: left;
  width: 33.33%;
  padding: 1rem 0 0.1rem;
}
.voteitem h2 {
  box-sizing: border-box;
  border: 0.15rem solid #fff;
  height: 3.5rem;
  width: 3.5rem;
  margin: 0 auto;
  font-size: 0.9rem;
  line-height: 2.2rem;
  text-align: center;
  color: #000;
  font-weight: normal;
  background: #f5c97b;
  cursor: pointer;
}
.voteitem h3 {
  width: 3.2rem;
  margin: 0 auto;
  margin-top: -1.15rem;
  font-size: 0.6rem;
  line-height: 1rem;
  text-align: center;
  color: #fff;
  font-weight: normal;
  background: rgba(41, 198, 224, 0.53);
}
.voteitem .iconrow {
  width: 3.5rem;
  margin: 0 auto;
  padding: 0.5rem 0 0.15rem 0;
  font-size: 0;
  opacity: 1;
  text-align: center;
}
.voteitem .iconrow span {
  margin-right: 0.5rem;
  background: url("../img/choose.png") no-repeat;
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  vertical-align: top;
  background-size: 100%;
}
.voteitem .iconrow span:last-child {
  margin-right: 0;
}
.voteitem .iconrow .icon1 {
  background-position: 0 0;
}
.voteitem .iconrow .icon2 {
  background-position: 0 33.33%;
}
.voteitem .iconrow .icon3 {
  background-position: 0 66.67%;
}
.voteitem .iconrow .icon4 {
  background-position: 0 100%;
}
.votesong {
  background-color: #b9e9f5;
  padding-left: 1.25rem;
}
.votesong p {
  font-size: 0.8rem;
  line-height: 2rem;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.guide {
  padding-left: 1.25rem;
  font-size: 0.7rem;
  line-height: 1.1rem;
  color: #fff;
}
.guide:before {
  display: block;
  width: 0;
  height: 0;
  content: " ";
  border-top: 0.4rem solid #b9e9f5;
  border-left: 0.2rem solid rgba(0, 0, 0, 0);
  border-right: 0.2rem solid rgba(0, 0, 0, 0);
}
