body {
  padding-top: 2.5rem;
  padding-bottom: 4.4rem;
}
section {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 10px 7.5px;
  background-color: #29bde0;
  min-height: 94vh;
}
@media screen and (min-width: 768px) {
  section {
    width: 768px;
    margin: 0 auto;
  }
}
.judgecheck {
  padding: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}
.judgecheck .voteitem {
  float: left;
  width: 33.33%;
  padding: 1rem 0;
}
.judgecheck .voteitem h2 {
  box-sizing: border-box;
  border: 0.15rem solid #fff;
  height: 3.5rem;
  width: 3.5rem;
  margin: 0 auto;
  font-size: 0.9rem;
  line-height: 2.2rem;
  text-align: center;
  color: #000;
  font-weight: normal;
  background: url(../img/judge-cover.png) no-repeat;
  background-size: 100%;
}
.judgecheck .voteitem h2 > span {
  display: none;
}
.judgecheck .voteitem h2:hover {
  background: #f5c97b;
}
.judgecheck .voteitem h2:hover > span {
  display: block;
}
.judgecheck .voteitem h3 {
  width: 3.2rem;
  margin: 0 auto;
  margin-top: -1.15rem;
  font-size: 0.6rem;
  line-height: 1rem;
  text-align: center;
  color: #fff;
  font-weight: normal;
  background: rgba(41, 198, 224, 0.53);
}
