html,body { 
	font-size: 20px;
	font-family:sans-serif;
}
body { 
	padding: 3.75rem 15px 3rem 15px;
	background-color: #29bde0;
}
/*导航*/
.navbar{
	padding:0.75rem 0.5rem;
	background: #29bde0;
	font-size: 1rem;
	border: none;	
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}
.navbar .fixbutton,.navbar .fixbutton:hover,.navbar .fixbutton:focus{
	border:1px solid #fff;
	border-radius: 0px;
	margin: 0px;
	padding: 5px 2px;
	background: #29bde0;
}
.navbar .collapse li{
	background-color: #29bde0;
}
.navbar .collapse li a,.navbar .collapse li a:hover,.navbar .collapse li a:focus{
	color: #fff;
}
.headtxt{
	color: #fff;
	font-weight: bold;
	text-align: center;
}
.navbar .toclose{
	border: none;
	background: #29bde0;
}

.navbar .toclose span{
	color: #fff;
	font-size:1rem;
}
/*投票指引&音乐*/
.votesong{
	background-color: #b9e9f5;
	padding:0.5rem 0.1rem;
}
.votesong button{
	display: block;
	float: right;
	width: 1.5rem;
	height: 1.5rem;
	background: url("../img/audio.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	border: none;
}
.votesong p{
	padding-left: 0.75rem;
	color: #000;
	font-size:0.8rem;
	line-height: 1.5rem;
}
.guide{
	color: #fff;
	font-size:0.7rem;	
	line-height:2;
	padding-left:2.25rem;
}
.guide:before{
	display: block;
	content: " ";
	width: 0.4rem;
	height: 0.4rem;
	border-left: 0.2rem solid #29bde0;
	border-right: 0.2rem solid #29bde0;
	border-top:0.4rem solid #b9e9f5;
}
/*投票选项*/
.voteform {
	display: flex;
	flex-flow:row wrap;
	justify-content:space-around;
	padding-top: 10px;
	width: 100%;
}
.voteform .voteitem{
	width: 25vw;
	margin-bottom:1vw;
}
.voteitem h2{
	display: block;
	box-sizing: border-box;
	border: 2vw solid #fff;
	height: 25vw;
	width: 25vw;
	text-align: center;
	font-size: 5vw;
	line-height: 15vw;
	background-color: #f5c97b;
	color: #000;
}
.voteitem h3{
	width: 21vw;
	font-size: 3vw;
	line-height: 6vw;
	text-align: center;
	color: #fff;
	background:rgba(41,198,224,0.53);
	margin-top: -8vw;
	margin-left: 2vw;
}
.iconrow{
	width: 25vw;
	padding:5vw 0px 1vw 0px;
	opacity:0;
}
.iconrow span{
	display: inline-block;	
	width: 4vw;
	height: 4vw;
	margin-right: 1vw;
	background:url("../img/choose.png") no-repeat;
	-webkit-backgropxud-size: 100%;
	background-size: 100%;
}
.iconrow .icon1{
	background-position: 0px 0px;
	-webkit-backgropxud-size: 100%;
	background-size: 100%;
}
.iconrow .icon2{
	background-position: 0px 33.33%;
	-webkit-backgropxud-size: 100%;
	background-size: 100%;
}
.iconrow .icon3{
	background-position: 0px 66.67%;

}
.iconrow .icon4{
	margin-right: 0px;
	background-position: 0px 100%;
	-webkit-backgropxud-size: 100%;
	background-size: 100%;
}
.voteitem:hover .iconrow{
	opacity:1;
}
/*footer*/
footer{
	position: fixed;
	bottom: 0px;
	left: 0px;	
	width: 100%;
	background:#29bde0;
	padding: 0.5rem;
}
footer input{
	margin: 0 10%;
	width: 80%;
	color: #fff;
	border: none;
	outline: none;
	border-radius:0px;
	padding: 0.5rem;
	text-align: center;
	font-weight: bold;
	background: #fbb435;
}	

@media screen and (min-width: 768px){
	html,body { 
		font-size: 20px;
	}
	.navbar .headtxt,.navbar .toclose{
		display: none;
	}
	.voteform .voteitem{
	width: 18vw;
	}
	.voteitem h2{
	font-size: 24px;
	line-height: 10vw;
	height: 18vw;
	width: 18vw;
	}
	.voteitem h3{
	font-size: 20px;	
	width: 14vw;
	}
	.iconrow{
	width: 18vw;
	}
	.iconrow span{	
	width: 2vw;
	height: 2vw;
	}

}









