html,body { 
	font-size: 20px;
	font-family:sans-serif;
}
body { 
	padding: 3rem 0px;
}
.header{
	padding:1rem 0.5rem;
	background: #29bde0;
	font-size: 1rem;
	line-height: 1rem;
	border: none;	
	color: #fff;
}
.header a:first-child span{
	background:url("../img/home7.png") no-repeat;
	-webkit-background-size:100%;
	background-size: 100%;	
}
.header span:last-child{
	background:url("../img/notice.png")  no-repeat;
	-webkit-background-size:100%;
	background-size: 100%;	
}
.header span{
	display: block;
	width: 1rem;
	height: 1rem;
}
/*windetail*/
.windetail{
	position: relative;
	width: 100%;
	background: #29bde0;
	padding:0 12%;
}
.win{
	width: 8.65rem;
	height: 5.1rem;
	margin: 0.75rem auto;	
	background:url("../img/win.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	padding: 0.1rem;
}
.win h1{
	text-align: center;
	color: #fff;
	font-size: 24px;
	line-height: 24px;
	margin-top: 3.3rem;
	font-weight: bold;
}
.windetail h2{
	color: #ffc865;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 1.2rem;
}
.windetail p{
	color: #fff;
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 0.75rem;
}
.windetail p span{
	display: inline-block;
	padding-right: 1rem;
}
/*winform*/
.winform{
	position: relative;
	width: 100%;
	background:#fff;
	padding:0.5rem 12%;	
}

.winform h4{
	float:right;
	color:#c7c7c7;
	font-size:12px;
}
.winform h3{
	font-size:16px;
}
.winform p{
	color:#c7c7c7;
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 0.75rem;
}
/*footer*/
footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	background:rgba(41,189,224,0.48);
	padding: 0.5rem;
}
footer input{
	width: 42%;
	-ms-align-self: center;
	align-self: center;	
	opacity: 1;
	color: #fff;
	border: none;
	outline: none;
	border-radius:10px;
	padding: 0.5rem;
	text-align: center;
}	
footer input:first-child{	
	background: #f66f6f;	
}
footer input:last-child{
	background: #fbb435;
}







