.flex_container_center {
  display: flex;
  flex-flow: row;
  align-content: center;
}
.fix_top {
  position: fixed;
  top: 0px;
}
.icon {
  display: inline-block;
  vertical-align: top;
  background-size: cover;
}
html,
body {
  background-color: #eff0f4;
  font-size: 20px;
  font-family: sans-serif;
  padding-top: 1.75px;
}
header {
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  background-color: #5fc0cd;
  height: 2.5rem;
  width: 100%;
  font-size: 18px;
  color: #fff;
}
header p {
  align-self: center;
}
header p:first-child {
  margin-left: 0.75rem;
}
header p:last-child {
  margin-right: 0.75rem;
}
header a:visited {
  color: #fff;
  text-decoration: none;
}
.loginForm {
  margin-top: 3rem;
  box-sizing: border-box;
  width: 100%;
}
.loginForm .list {
  background-color: #fff;
  height: 2.5rem;
  padding: 0.6rem 0.75rem;
  box-sizing: border-box;
}
.loginForm .list:first-child {
  margin-bottom: 0.75rem;
}
.loginForm input {
  margin-left: 0.75rem;
  padding-left: 0.75rem;
  box-sizing: border-box;
  width: 80%;
  height: 1.3rem;
  line-height: 1.3rem;
  font-size: 16px;
  border: none;
  border-left: 2px solid #eaedee;
  vertical-align: top;
}
.loginForm input:focus {
  outline: none;
}
.loginForm label {
  width: 0.7rem;
  height: 1rem;
  margin: 0.15rem 0.25rem;
  background: url("../img/task4.png") no-repeat 0px 0px;
  display: inline-block;
  vertical-align: top;
  background-size: cover;
}
.loginForm .passIcon {
  background-position: 100% 0;
}
.submitButton {
  margin-top: 1.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
  width: 100%;
  background-color: #5fc0cd;
  text-align: center;
  font-size: 18px;
  color: #fff;
  border: none;
}
.forget {
  float: right;
  margin: 0.5rem 0.75rem;
  color: #5fc0cd;
  font-size: 16px;
}
.forget a:visited {
  color: #5fc0cd;
  text-decoration: none;
}
